<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qboxus.binder">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".SimpleClasses.Binder"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/noactionbar_whiteStatus"
        tools:replace="allowBackup,supportsRtl">
        <activity
            android:name=".ActivitiesFragments.inapppurchases.InAppSubscriptionA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Profile.VerifyProfileA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Accounts.WebviewA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.BlockedUsers.BlockedUserA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimpleClasses.CustomErrorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.SplashA"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ActivitiesFragments.Accounts.LoginA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Accounts.SignupA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Accounts.EnableLocationA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Accounts.ForgotPassA"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".MainMenu.MainMenuA"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar_whiteStatus" />
        <activity
            android:name=".GoogleMap.MapsA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoogleMap.SearchPlacesA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.VideoCalling.VideoActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Profile.EditProfile.EditProfileA"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Profile.EditProfile.AddPassionsA"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Profile.EditProfile.AddSchoolA"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Profile.ProfileDetailsA"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesFragments.Settings.SettingA"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_appid" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_b" /> <!-- for google map Api key -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/coloraccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".FirebaseNotification.CustomNotificationReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.LocalBot" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FirebaseNotification.NotificationReceive"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>